@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>
    Rất tiếc, có lỗi ở trang web
    <a href="javascript:history.go(-1)">Quay lại trang trước</a>    
</p>

<hgroup>
   
</hgroup>
