@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Đăng xuất";
}

<hgroup>
    <h1 class="text-error">Đã đăng xuất.</h1>
    <h2 class="text-error">Tài khoản đã đăng xuất, để nghị đăng nhập lại để tà tữa.</h2>
</hgroup>
