@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Kiểm tra email để reset mật khẩu.
    </p>
    <p class="text-danger">
       DEMO: <a href="@ViewBag.Link">link</a>
    </p>
</div>

