@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Thiên hà Tiên Nữ<br />
        Vũ trụ 999, 2021<br />
        <abbr title="Phone">P:</abbr>
        Random -> OK
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">hotro@example.com</a><br />
        <i class="icon-envelope"></i><strong>Bán hàng:</strong> <a href="mailto:Marketing@example.com">banhang@example.com</a>
    </address>
</div>