
@{
    ViewBag.Title = "Xác nhận đặt hàng!";
}

<h2>Xác nhận đặt hàng!</h2>
<p>Cảm ơn bạn đã hỗ trợ, mã đơn trà của bạn là: @Model</p>
<p>
    Mua thêm sản phẩm：
    @Html.ActionLink("Trà Trà", "Index", "Home")
</p>

